* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  padding-top: 4rem;
  min-width: 900px;
  color: #333;
  --font-first: Helvetica, Arial, sans-serif;
  --font-second: 'Spectral', Georgia;
  font-family: var(--font-first);
}

ul,
li {
  list-style: none;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--font-first);
  color: #333;
}

a {
  text-decoration: none;
}

.container {
  min-width: 900px;
  max-width: 1366px;
  padding: 0 1rem;
  margin: 0 auto;
}
